
<div class="flex">
    <widget-clock [diameter]="600"></widget-clock>
    <widget-clock [isMetric]="true"></widget-clock>
</div>
<div class="p-4 m-4 flex gap-2 bg-amber-300 text-4xl text-blue-400">
    <input type="text" id="title" class="drop-shadow-lg m-2" >
    <button class="btn btn-accent" (click)="changeValue()">SUBMIT</button>
</div>
<div>
<!--    <widget-text3d [width]="500" color="blue" label="My favorite toys"></widget-text3d>-->
<!--    <widget-text3d [width]="800" color="red" label="Pistol & Marzi"></widget-text3d>-->

        <widget-canvas title="{{title}}"
                        category="Spin your Fortune"
        ></widget-canvas>
<!--    <widget-text3d [width]="1700" color="red" label="Pistol and Marzi"></widget-text3d>-->
</div>
<router-outlet />


































<!--etudes.apps1@outlook.com-->
<!--CopilotAIhc4JPg-->
<!--Email: chakgem2.advanced@gmail.com-->
<!--Password: GeminiProFCe5sQ -->
